// ==================  General component styles  =====================
.hero {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url(../../img/home.jpg) no-repeat;
  background-size: cover;
  background-position: right top;
  height: 600px;
  display: flex;
  align-items: center;
} 

.hero_data {
  max-width: 30rem;
  background-color: var(--white);
  padding: 1.5rem;
}

.data_title {
  font-size: 2rem;
  color: var(--black);
  line-height: 2.45rem;
  margin-bottom: 1rem;
}

.marked_txt {
  color: var(--primary-color);
}

.data_description {
  color: var(--gray);
  font-size: .85rem;
  margin-bottom: 1rem;
}

.hero_buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn_hero {
  border: 1.5px solid var(--border);
  color: var(--black);
  font-size: .8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: .65rem 1.5rem;
  border-radius: 20px;
  cursor: pointer;
}

.btn_departments {
  background-color: var(--primary-color);
  color: var(--white);
  border: 1.5px solid var(--primary-color);
}


// ==================  Breakpoints  =====================
@media only screen and (max-width: 560px) {
  .hero_data {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero_buttons {
    justify-content: center;
  }
}