@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #0a92ca;
  --primary-hover: #0985B8;
  /* --gray: #e3e3e3; */

  --white: #ffffff;
  --black: #222222;
  --gray: #86929a;
  --border: #e6e6e6;
}

/* #e6e6e6 */
/* #232425 */
/* #0a92ca azul color primario */

/* fcfcfc la barra superior de navegacion */
/* ffffff para el background del header */
/* f9f9f9 los bordes */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fcfcfc;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1150px;
  width: 92%;
  margin: 0 auto;
}